# ignore all files in 00_Data
00_Data

Project_1_Tropical_cyclon_risks_in_Philippines/01/PHL_1degree_buffer.dbf
Project_1_Tropical_cyclon_risks_in_Philippines/01/IBTrACS.WP.list.v04r01.points.dbf
Project_1_Tropical_cyclon_risks_in_Philippines/01/IBTrACS.WP.list.v04r01.lines.dbf
Project_1_Tropical_cyclon_risks_in_Philippines/10/annual_max_wind_speed_impacting_tc_phl.png
Project_1_Tropical_cyclon_risks_in_Philippines/ACP/OSM/AUT_buildings_exposures.csv
Project_1_Tropical_cyclon_risks_in_Philippines/ACP/OSM/CZE_buildings_exposures.csv
