# ignore all files in 00_Data
00_Data

Project_1_Tropical_cyclon_risks_in_Philippines/01/PHL_1degree_buffer.dbf
Project_1_Tropical_cyclon_risks_in_Philippines/01/IBTrACS.WP.list.v04r01.points.dbf
Project_1_Tropical_cyclon_risks_in_Philippines/01/IBTrACS.WP.list.v04r01.lines.dbf
